<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>明星说公号管理后台</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        ul,
        ol {
            list-style: none;
        }

        input {
            outline: none;
        }

        img {
            display: block;
            border: 0;
        }

        body {
            overflow-x: hidden;
        }
    </style>
    <link href=/management/css/app.e8b66f2c.css rel=preload as=style>
    <link href=/management/css/chunk-vendors.24199e81.css rel=preload as=style>
    <link href=/management/js/app.12a59bdf.js rel=preload as=script>
    <link href=/management/js/chunk-vendors.a7672f31.js rel=preload as=script>
    <link href=/management/css/chunk-vendors.24199e81.css rel=stylesheet>
    <link href=/management/css/app.e8b66f2c.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but ghgl doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app>
        <router-view>
    </div>
    <script src=/management/js/chunk-vendors.a7672f31.js> </script> <script src=/management/js/app.12a59bdf.js> </script>
        </body> </html>