<!DOCTYPE html><html lang=en><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><title>明星说公号管理后台</title><style>* {
      margin: 0;
      padding: 0;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    ul,
    ol {
      list-style: none;
    }

    input {
      outline: none;
    }

    img {
      display: block;
      border: 0;
    }

    body {
      overflow-x: hidden;
    }</style><link href=/static/css/app.08b9038f957e77455742c002132d917f.css rel=stylesheet></head><body><noscript><strong>We're sorry but ghgl doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app><router-link></div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.e17503932a3d6c6cb36a.js></script><script type=text/javascript src=/static/js/app.a5b453d1187af151de55.js></script></body></html>